<ion-content [fullscreen]="true">
  <ion-row class="ion-justify-content-center ion-align-items-center">
    <ion-col size="12" size-md="6" size-lg="4">
      
        <div id="formulario">

          <img src="./assets/icon/logito.ico" alt="img logo"><br><br>
          <ion-text>IUMACO</ion-text>
          
          <form (ngSubmit)="login()">
            <ion-item>
              <ion-label position="floating">Usuario:</ion-label>
              <ion-input type="text" [(ngModel)]="username" name="username"></ion-input>
            </ion-item>
                            
            <ion-item>
              <ion-label position="floating">Contraseña:</ion-label>
              <ion-input type="password" [(ngModel)]="password" name="password"></ion-input>
            </ion-item>
      
            
            <button expand="full" type="submit">Iniciar sesión</button>
            
          </form>
          
        </div>
      
    </ion-col>
  </ion-row>
</ion-content>

<ion-footer>
    <a href="https://oferta.senasofiaplus.edu.co/sofia-oferta/"><img src="./assets/SofiaPlus.png" alt="Sofiaplus"></a>
    <a href="https://sena.territorio.la/index.php?login=true#"><img src="./assets/Territorium.png" alt="Territorium"></a>
</ion-footer>